.wrapper {
    position: relative;
    background-color: #fff;
    padding: 15% 10%;
    /*padding: 100px 80px;*/
    margin: 0;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.wrapper:before {
    display: block;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: -webkit-linear-gradient(180deg, #4CB8C4 10%, #3CD3AD 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(180deg, #4CB8C4 10%, #3CD3AD 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(180deg, #4CB8C4 10%, #3CD3AD 90%); /* IE10 */
    background:      -o-linear-gradient(180deg, #4CB8C4 10%, #3CD3AD 90%); /* Opera 11.10+ */
    background:         linear-gradient(180deg, #4CB8C4 10%, #3CD3AD 90%); /* W3C */
}
